.container-cadastro-vacinas{
  width: 600px;
  width: 100%; 
 
}

.form-container h2 {
  font-weight: 700;
  font-size: 24px;
  color: #222;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 0.02em;
}



/* Responsividade */
@media (max-width: 520px) {
  body {
    padding: 20px 10px;
  }

  .container {
    padding: 25px 20px;
  }
}

