   .form-container-setor {
      width: 600px;
      width: 100%; 

    }

    .form-container-setor h2{
        font-weight: 700;
        font-size: 24px;
        color: #222;
        margin-bottom: 30px;
        text-align: center;
        letter-spacing: 0.02em;
    }

    fieldset {
      border: 1px solid #ccc;
      padding: 20px;
      border-radius: 5px;
      margin-top: 20px;
    }

    legend {
      font-weight: bold;
      padding: 0 10px;
    }

    .checkbox-group {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      padding-top: 10px;
    }

    .checkbox-group label {
      width: 100px;
    }
