.container-consulta {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}

      
h2 {
  font-weight: 700;
  font-size: 28px;
  color: #222;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 0.02em;
}

        form {
            text-align: center;
            margin-bottom: 20px;
            

        }

        .form-buscar{
            display: flex;
            align-items: center;
        }

        #input-buscar{
            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .form-buscar button{
            width: 100px;
            margin-bottom: 20px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
        }

        input[type="text"] {
            padding: 10px;
            width: 300px;
            border: 1px solid #ccc;
            border-radius: 6px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            background-color: white;
            border-radius: 10px;
            overflow: hidden;
        }

        th, td {
            padding: 12px;
            text-align: center;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #4f46e5;
            color: white;
        }

        tr:hover {
            background-color: #f1f1f1;
        }

        .acoes a {
            margin: 0 5px;
            text-decoration: none;
            color: #4f46e5;
            font-weight: bold;
        }

        .acoes a:hover {
            color: #ff0000;
        }

        .no-data {
            text-align: center;
            padding: 20px;
            color: #666;
        }
