

/*-------------*/

.container-section{
  width: 800px;
  max-height: 700px;
  margin-top: 30px;

}
.welcome-section {
 
  text-align: center;
  padding: 40px 20px;
  background: #4f46e5;
  color: white;
  border-radius: 8px;
  margin-bottom: 40px;
  box-shadow: 0 4px 10px rgba(30,136,229,0.3);
}

.welcome-section h1 {
  font-size: 2.3rem;
  margin-bottom: 10px;
}

.welcome-section p {
  font-size: 1.0rem;
  opacity: 0.9;
}

.dashboard {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.dashboard-card {
  background: white;
  flex: 1 1 200px;
  max-width: 200px;
  max-height: 100xx;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 3px 15px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.3s ease;
  cursor: default;
}

.dashboard-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(79, 70, 229, 0.35);
}

.dashboard-card h2 {
  font-size: 1.0rem;
  margin-bottom: 15px;
  color: #1e88e5;
}

.dashboard-card .number {
  font-size: 2.2rem;
  font-weight: 700;
  color: #0d47a1;
}