.container-suporte {
  height: 350px;
  width: 800px;
  margin: 0px auto;
  background: #ffffff;
  padding: 20px;
}

container-suporte h2 {
  font-weight: 700;
  font-size: 28px;
  color: #222;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 0.02em;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  color: #555;
}

input, select, textarea, button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.mensagem {
  margin-top: 20px;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  display: none;
}

.mensagem.sucesso {
  background-color: #d4edda;
  color: #155724;
}

.mensagem.erro {
  background-color: #f8d7da;
  color: #721c24;
}